@import '_variables.scss';

.page-turn {
    
    &.animating, &.zoom-in {
        a.nav {
            display: none !important;
        }
    }

    a.nav {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        width: 1.5em;
        z-index: 1000;
        background-color: rgba(0,0,0,0.75);
        font-size: 3em;
        overflow: hidden;
        text-decoration: none;

        //transition: opacity 500ms ease-in-out;
        opacity: 0;

        &:after {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            margin-top: -0.5em;
            text-shadow:
                -1px -1px 0 $arrow-stroke-color,  
                1px -1px 0 $arrow-stroke-color,
                -1px 1px 0 $arrow-stroke-color,
                1px 1px 0 $arrow-stroke-color
             }

        &.nav-next, &.nav-next-2 {
            right: 0;
            &:after {
                content: '\2192';
            }
        }

        &.nav-prev, &.nav-prev-2 {
            left: 0;
            &:after {
                content: '\2190';
            }
        }
    }

    a.nav:hover {
        opacity: 1;
    }


    a.go-next, a.go-prev, a.go-next-2, a.go-prev-2 {
        color: $arrow-disabled-color;
        text-decoration: none;
        display: inline-block;
    }

    &.can-next-2 a.go-next-2, &.can-prev-2 a.go-prev-2, &.can-next a.go-next, &.can-prev a.go-prev {
        color: $arrow-color;
    }

    @media #{$media-tablet-or-smaller} {
        a.nav {
            font-size: 2em;
        }
    }


}