@import '_variables.scss';

.page-turn {
    &.one-page {
        .scaler {
            width: $desktop-scaler-ratio / 2;
            height: $desktop-scaler-ratio;

            li {
                display: none !important;
                left: 0 !important;
                width: 100%;
            }

        }

        &.one-side-left {
            li.page-a {
                display: block !important;
            }
        }

        &.one-side-right {
            li.page-b {
                display: block !important;
            }
        }

    }

    @media #{$media-tablet-or-smaller} {
        .scaler {
            li {
                display: none !important;
                left: 0 !important;
                width: 100%;
            }
        }

        &.one-side-left {
            li.page-a {
                display: block !important;
            }
        }

        &.one-side-right {
            li.page-b {
                display: block !important;
            }
        }

    }
}