@import '_variables.scss';

@mixin ratio-scale($page-ratio) {
    $page-ratio-string: (round($page-ratio * 1000)) #{'/'} 1000;
    @media (max-aspect-ratio: $page-ratio-string) { 
        width: $fill * 100vw;
        height: $fill * 100vw / $page-ratio;
    }

    @media (min-aspect-ratio: $page-ratio-string) { 
        width: $fill * 100vh * $page-ratio;
        height: $fill * 100vh;
    }
}

@mixin ratio($page-width, $page-height) {
    $page-width: $page-width / 0.9; //leave space for preview
    $page-height: $page-height / 0.95; //leave space for toolbar
    
    $one-page-ratio: $page-width / $page-height;
    $two-page-ratio: 2 * $page-width / $page-height;

    @media #{$media-desktop-or-greater} {
        &:not(.desktop-two-pages) {
            @include ratio-scale($one-page-ratio);
        }

        &.desktop-two-pages {
            @include ratio-scale($two-page-ratio);
        }
    } 


    @media #{$media-tablet-or-smaller} { 
        &:not(.tablet-two-pages) {
            @include ratio-scale($one-page-ratio);
        }

        &.tablet-two-pages {
            @include ratio-scale($two-page-ratio);
        }
    }
}

@mixin ratios($sideA, $sideB) {
    @include ratio($sideA, $sideB);

    &.landscape {
        @include ratio($sideB, $sideA);
    }
}

.page-turn {
    &.a4 {
        @include ratios(210mm, 297mm);
    }
    &.letter {
        @include ratios(8.5in, 11in);
    }
    &.r4x3 {
        @include ratios(3, 4);
    }
    &.r16x9 {
        @include ratios(9, 16);
    }
}