@import '_variables.scss';

.page-turn {
    .page-turn-toolbar {
        position: fixed;
        top: 1%;
        right: 5%;
        background-color: rgba(0,0,0,0.54);
        border-radius: 0.5em;
        padding: 0.5em;
        z-index: 5001;
        text-align: center;

        @media #{$media-mobile-or-smaller} {
            left: 0;
            right: 0;
        }


        a, input {
            @media #{$media-desktop-or-greater} {
                font-size: $desktop-toolbar-font-size;
            }
            @media #{$media-tablet-or-smaller} {
                font-size: $tablet-toolbar-font-size;
            }
            @media #{$media-mobile-or-smaller} {
                font-size: $mobile-toolbar-font-size;
            }
        }

        a {
            margin: 0 0.25em;
            text-decoration: none;
            background-repeat: no-repeat; 
            display: inline-block;
            width: 1em;
            background-size: 1em 1em;
            color: $arrow-color;
            &:after {
                content: '\00a0';
            }
        }

        .fullscreen {
            background-image: url($url-fullscreen);
        }

        .go-prev ,.go-prev-2 {
            background-image: url($url-left-arrow);
        }

        .go-next ,.go-next-2 {
            background-image: url($url-right-arrow);
        }

        .close {
            background-image: url($url-close);
        }

        .zoom-in {
            background-image: url($zoom-in);
        }

        .zoom-out {
            background-image: url($zoom-out);
        }

        input {
            text-align: center;
            display: inline-block;
            width: 5em;
            margin: 0;
            padding: 0;
        }

    }

    &.zoom-in {
        .fullscreen {
             background-image: url($url-fullscreen-exit);
       }
    }
}