$page-width: 210mm;
$page-height: 297mm;
// $page-width: 2513px;
// $page-height: 3263px;

$corner-size: 20em;

$desktop-scaler-ratio: 93%;
$desktop-scaler-margin: 2%;
$tablet-scaler-ratio: 94%;
$tablet-scaler-margin: 1%;
$media-tablet-or-smaller: 'screen and (max-width: 977px)';
$media-desktop-or-greater: 'screen and (min-width: 980px)';
$fill: 0.95;
$arrow-stroke-color: #666;

$spine-shadow-size: 4%;

$preview-width: 10%;