$page-width: 210mm;
$page-height: 297mm;
// $page-width: 2513px;
// $page-height: 3263px;

$desktop-corner-size: 20em;
$tablet-corner-size: 10em;

$desktop-scaler-ratio: 93%;
$desktop-scaler-margin: 2%;
$tablet-scaler-ratio: 94%;
$tablet-scaler-margin: 1%;

$media-mobile-or-smaller: 'screen and (max-device-width: 768px)';
$media-tablet-or-smaller: 'screen and (max-width: 991px)';
$media-desktop-or-greater: 'screen and (min-width: 992px)';

$fill: 0.95;

$arrow-stroke-color: #666;
$arrow-color: white;
$arrow-disabled-color: gray;

$spine-shadow-size: 4%;

$preview-width: 10%;

$desktop-toolbar-font-size: 1.5em;
$tablet-toolbar-font-size: 2.25em;
$mobile-toolbar-font-size: 3em;

@import '_icons.scss';
