@import '_variables.scss';
@import '_nav.scss';
@import '_one-page.scss';
@import '_debug.scss';

.page-turn {
    @media #{$media-desktop-or-greater} {
        @media (max-aspect-ratio: $two-page-ratio-string) { 
            width: $fill * 100vw;
            height: $fill * 100vw / $two-page-ratio;
        }

        @media (min-aspect-ratio: $two-page-ratio-string) { 
            width: $fill * 100vh * $two-page-ratio;
            height: $fill * 100vh;
            margin-top: (1 - $fill) * 100vh / 2 !important;
        }
    } 


    @media #{$media-tablet-or-smaller} { 
        @media (max-aspect-ratio: $one-page-ratio-string) {
            width: $fill * 100vw;
            height: $fill * 100vw / $one-page-ratio;
        }
        @media (min-aspect-ratio: $one-page-ratio-string) { 
            width: $fill * 100vh * $one-page-ratio;
            height: $fill * 100vh;
            margin-top: (1 - $fill) * 100vh / 2 !important;
        }
    }

}

.page-turn {
    margin: 0 auto;
    overflow: hidden;

    .bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .scaler {
        position: relative;
        border: solid 1px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.25);

        @media #{$media-desktop-or-greater} {
            width: $desktop-scaler-ratio;
            height: $desktop-scaler-ratio;
            margin: $desktop-scaler-margin auto;
        }
        @media #{$media-tablet-or-smaller} {
            width: $tablet-scaler-ratio;
            height: $tablet-scaler-ratio;
            margin: $tablet-scaler-margin auto;
        }
    }

    ol {
        width: 100%;
        height: 100%;
        clear: both;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 0;
    }

    li {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        display: none;
    }

    img {
        width: 100%;
        max-height: 100%;
        box-sizing: border-box;
    }

    li.current {
        display: block;
        left: 0;
        z-index: 1;
    }

    li.current + li {
        display: block;
        left: 50%;
        z-index: 2;
    }

    li.current:after, li.current + li:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    @media #{$media-desktop-or-greater} {
        &:not(.one-page) {
            li.current:after {
                background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.1) 98%, rgba(0,0,0,0.3) 100%);
            }

            li.current + li:after {
                background-image: -webkit-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.1) 98%, rgba(0,0,0,0.3) 100%);
            }
        }
    }

    .page1, .page2, .page3, .page4 {
        display: block;
        overflow: hidden;
    }


    &.active li, &.active li img {
        transform-origin: top left;
    }

    &.active-next .page3, &.active-prev .page2 {
        z-index: 100;
        box-shadow: -17px 0px 17px 0px rgba(0,0,0,0.25);

        img {
            border: solid 1px #666;
        }
    }



}


.page-turn.active .page3 {
    left: 0;
    z-index: 11;
}

.page-turn.active .page4 {
    z-index: 10;
}

.page-turn.active-next .page4 {
    left: 0;
}


.page-turn.active-prev .page1 {
    z-index: 99;
}

.page-turn.active-prev .page3 {
    z-index: 97;
}

.page-turn.active-prev .page4 {
    right: 101;
}
